.header {
  padding-top: 32px;
  display: block;
  background-image: url("../../img/Cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;

  @media (max-width: 576px) {
    height: auto;
    padding-bottom: 40px;
  }


  &__logo {
    @media (max-width: 576px) {
      width: 104px;
      height: 16px;
    }
  }



  &__wrapper {


    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  &__list {
    display: flex;
    gap: 45px;

    @media (max-width: 767px) {
      display: none;
    }

  }

  &__link {
    display: block;
    color: var(--color-1, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 16.8px */
    letter-spacing: 0.7px;
    text-transform: uppercase;
    transition: color 300ms;


    &:hover {
      color: #F0C631;
    }

    &:active {
      color: rgba($color: #e0dbd9, $alpha: 0.3);
    }

    &--current {
      padding-bottom: 15px;
      border-bottom: 2px solid #F0C631;
    }

  }

  &__tel {

    color: var(--color-1, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 16.8px */
    letter-spacing: 0.7px;
    text-transform: uppercase;
    transition: color 300ms;

    &:hover {
      color: #F0C631;
    }

    &:active {
      color: rgba($color: #e0dbd9, $alpha: 0.3);
    }

    @media (max-width: 767px) {
      display: none;
    }


  }

  &__title {
    color: var(--color-1, #FFF);
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 80px */


    @media (max-width: 992px) {
      font-size: 50px;
    }

    @media (max-width: 576px) {
      color: var(--Color_1, #FFF);
      font-variant-numeric: lining-nums tabular-nums;
      font-size: 32px;
      font-weight: 600;
      line-height: 120%;
      width: 298px;
      /* 38.4px */
    }
  }

  &__text {
    margin-top: 28px;
    margin-bottom: 60px;
    width: 570px;
    color: var(--Color_1, #FFF);
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    /* 26px */

    @media (max-width: 992px) {
      font-size: 18px;
    }

    @media (max-width: 576px) {
      width: 300px;
      margin-top: 30px;
      margin-bottom: 41px;
      color: var(--Color_1, #FFF);
      /* Body 2 */
      font-size: 18px;
      font-weight: 500;
      line-height: 130%;
      /* 23.4px */

    }
  }

  &__btn {
    background: var(--color-3, #F0C631);
    color: black;
    display: flex;
    padding: 19px 54px;
    width: 283px;
    height: 57px;
    align-items: flex-start;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s; //all 0.3s
    
    @media (max-width: 576px) {
      display: flex;
      width: 300px;
      padding: 19px 54px;
      justify-content: center;
      align-items: center;
      gap: 10px;
    &:hover {
      background-color: #f1b510;
    }

    &:active {
      background-color: #d79437;
      box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
      color: rgba($color: #ffffff, $alpha: 0.3);
    }

   
    }

   


  }

  &__slide {
    margin-top: 251px;

    @media (max-width: 992px) {
      margin-top: 148px;
    }

    @media (max-width: 576px) {
      margin-top: 92px;
    }

  }


}