.header {
  padding-top: 32px;
  display: block;
  background-image: url("../../img/Cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  

  &__wrapper {


    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  &__list {
    display: flex;
    gap: 45px;

  }

  &__link {
    display: block;
    color: var(--color-1, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 16.8px */
    letter-spacing: 0.7px;
    text-transform: uppercase;
    transition: color 300ms;


    &:hover {
      color: #F0C631;
    }

    &:active {
      color: rgba($color: #e0dbd9, $alpha: 0.3);
    }

    &--current {
      padding-bottom: 15px;
      border-bottom: 2px solid #F0C631;
    }

  }

  &__tel {
  
    color: var(--color-1, #FFF);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 16.8px */
    letter-spacing: 0.7px;
    text-transform: uppercase;
    transition: color 300ms;

    &:hover {
      color: #F0C631;
    }

    &:active {
      color: rgba($color: #e0dbd9, $alpha: 0.3);
    }



  }

  &__title {
    color: var(--color-1, #FFF);
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 80px */
  }

  &__text {
    padding-top: 28px;
    margin-right: 200px;
    padding-bottom: 60px;
  }

  &__btn {
    background: var(--color-3, #F0C631);
    color: black;
    display: flex;
    padding: 19px 54px;
    width: 283px;
    height: 57px;
    align-items: flex-start;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;//all 0.3s
    &:hover {
      background-color: #f1b510;
    }
    &:active {
      background-color: #d79437;
      box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.10) inset;
      color: rgba($color: #ffffff, $alpha: 0.3);
    }
    


  }

  &__slide {
    margin-top: 251px;
  }


}