.price {
    &__wrapper {
        margin-top: 206px;
        margin-bottom: 64px;
        position: relative;



        @media (max-width: 1300px) {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-bottom: 136px;
            margin-bottom: 30px;
        }
    }

    &__vector2 {
        position: absolute;
        top: 0;
        right: 0;
        //left: calc(673px + 275px);
        width: 245px;

        @media (max-width: 1300px) {
            top: auto;
            bottom: 0;
            left: 0;
        }

        @media (max-width: 576px) {}








    }

    &__title {
        margin-bottom: 40px;
        color: var(--Color_2, #000);
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%;
        /* 44px */
        text-transform: uppercase;

        @media (max-width: 576px) {
            font-size: 20px;
            margin-bottom: 20px;
        }

    }

    &__subtitle {
        margin-bottom: 62px;

        @media (max-width: 576px) {
            margin-bottom: 30px;
        }
    }


    &__sp1 {
        color: var(--Color_2, #000);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;

        /* 26px */
        @media (max-width: 576px) {
            font-size: 18px;
        }

    }

    &__sp2 {
        color: #6E6E6E;

        @media (max-width: 576px) {
            font-size: 20px;
        }
    }

    &__sp3 {
        color: var(--Color_4, #6E6E6E);
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;

        @media (max-width: 576px) {
            font-size: 18px;
        }
    }


    &__table {
        display: grid;
        grid-template-rows: 105px 105px 105px 105px 105px;
        grid-template-columns: 1fr 1fr;
        //  width: 1200px;

        


    }

    &__row1 {
        padding-top: 40px;
        padding-left: 30px;
        padding-bottom: 41px;
        background-color: #F9F9F9;
        color: var(--Color_2, #000);
        font-variant-numeric: lining-nums tabular-nums;
        font-size: 20px;
        font-weight: 500;
        line-height: 120%;

        @media (max-width: 576px) {
            font-size: 18px;

        }




        /* 24px */
        span {
            color: var(--Color_4, #6E6E6E);
            font-size: 20px;
            font-weight: 500;
            line-height: 130%;

            @media (max-width: 576px) {
                font-size: 18px;
            }

            /* 26px */
        }

    }

    &__row2 {
        padding-top: 40px;
        padding-left: 30px;
        padding-bottom: 41px;
        color: var(--Color_4, #6E6E6E);
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;

        /* 26px */
        @media (max-width: 576px) {
            font-size: 18px;
        }



        /* 24px */
        span {
            color: var(--Color_4, #6E6E6E);
            font-size: 20px;
            font-weight: 500;
            line-height: 130%;
            opacity: 0.8;

            /* 26px */
            @media (max-width: 576px) {
                font-size: 18px;
            }
        }

    }

    &__col2 {
        @media (max-width: 576px) {
            padding-left: 8px;
            padding-right: 20px;
        }


    }

    &__col1 {
        @media (max-width: 576px) {
            padding-left: 20px;
            padding-right: 0;
        }

    }

}