<section class="ocompany">
    <div class="container">
        <div class="ocompany__wrapper">
            <h2 class="ocompany__title">О компании
            </h2>
            <div class="ocompany__vector">
                <img src="../img/svg/Frame1.svg" alt="">

            </div>


            <p class="ocompany__text text">Мы являемся подрядчиком в области дорожной безопасности с 2018 года.</p>
            <ul class="ocompany__list list-reset">
                <li class="ocompany__item1">
                    <img src="../img/svg/ocompani/1_1.svg " class="ocompany__img" alt="">
                    <p class="ocompany__p ocompany__p--p1">
                        Работаем во всех<br> регионах России
                    </p>
                </li>
                <li class="ocompany__item2">
                    <img src="../img/svg/ocompani/2_2.svg" class="ocompany__img" alt="">
                    <p class="ocompany__p ocompany__p--p2">
                        Подрядчик <span class="ocompany__span">в дорожной <br> безопасности</span> с 2018 года
                    </p>
                </li>

                <li class="ocompany__item3">
                    <img src="../img/svg/ocompani/3_3.svg" class="ocompany__img1i1" alt="">
                    <p class="ocompany__p ocompany__p--p3">

                        Несколько<br>мобильных бригад</p>
                </li>

            </ul>
        </div>
    </div>
    </div>
    </header>