<header class="ocompany">
    <div class="container">
        <div class="ocompany__wrapper">
            <h2 class="ocompany__title">О компании</h2>
            <p class="ocompany__text">Мы являемся подрядчиком в области дорожной <br> безопасности с 2018 года.</p>
            <ul class="ocompany__list list-reset">
                <li class="ocompany__item1">
                    <img src="../img/svg/ocompani/1_1.svg " class="ocompany__img" alt="">
                    <p class="ocompany__p">
                        Работаем во всех<br> регионах России
                    </p>
                </li>
                <li class="ocompany__item2">
                    <img src="../img/svg/ocompani/2_2.svg" class="ocompany__img" alt="">
                    <p class="ocompany__p">
                        Подрядчик в дорожной <br> безопасности с 2018 года
                    </p>
                </li>

                <li class="ocompany__item3">
                    <img src="../img/svg/ocompani/3_3.svg" class="ocompany__img" alt="">
                    <p class="ocompany__p">
                        
                        Несколько<br>мобильных бригад</p>
                </li>

            </ul>

        </div>
    </div>
</header>