<section class="price">
    <div class="container">
        <div class="price__wrapper">
            <h2 class="price__title">прайс-лист</h2>
            <div class="price__vector2">
                <img src="../img/svg/Frame2.svg" alt="">
            </div>
            <p class="price__subtitle">
                <span class="price__sp1">L</span> <span class="price__sp2">-</span><span class="price__sp3"> Длина устанавливаемого участка</span>
            </p>

            <div class="price__table">
<div class="price__row1 price__col1">L&lt50м</div>
<div class="price__row1 price__col2"><span>от 600р/п.м</span></div>
<div class="price__row2 price__col1">50м&ltL&lt150м</div>
<div class="price__row2 price__col2"><span>от 550р/п.м</span></div>
<div class="price__row1 price__col1">150м&ltL&lt300м</div>
<div class="price__row1 price__col2"><span>от 500р/п.м</span></div>
<div class="price__row2 price__col1">300м&ltL&lt1000м</div>
<div class="price__row2 price__col2"><span>от 450р/п.м</span></div>
<div class="price__row1 price__col1">L&gt1000м</div>
<div class="price__row1 price__col2"><span>договорная</span></div>

            </div>



        </div>
    </div>
</div>

