<section class="works">
    <div class="container">
        <div class="works__wrapper">
            <div class="works__title">
                <h2>виды работ</h2>
                <h4 class="works__subtitle">Мы производим установку различных видов ограждения</h4>
                <div class="works__subtitle2">
                    <p class="works__txt">Монтаж пешеходного и барьерного ограждения производится механическим способом.
                        Это обеспечивает сохранность основания, куда устанавливается ограждение, и позволяет сократить затраты
                         на бурение и бетонирование.</p>
                </div>    
            </div>
          
            
.
            <ul class="works__list list-reset">
                <li class="works__item">
                    <img src="img/Rectangle.png" alt="" class="works__img">
                    <div class="works__text">
                        <h3>Барьерные ограждения</h3>
                        <p class="text">Барьерные ограждения устанавливают вдоль разделительной полосы (для разделения
                            транспортных потоков),
                            по краю дороги или мостового сооружения (для предотвращения съезда и падения с мостов).</p>
                    </div>
                </li>
                <li class="works__item">
                    <img src="img/Rectangle2.png" alt="" class="works__img works__img--reverse">
                    <div class="works__text">
                        <h3>пешеходные ограждения</h3>
                        <p class="text">Пешеходные ограждения устанавливаются в местах большого скопления людей, а
                            именно на оживленных улицах городов, возле супермаркетов, торговых центрах и на
                            автомобильных парковках.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>